*{
	box-sizing: border-box;
}

body{
	background-color:#5D5D5D;
	color: #ffffff;
	font-family: Helvetica,sans-serif;
	font-size: 11pt;
}


#epgcontainer table{
	border-collapse: collapse;
}
#epgcontainer tr{
}

#epgcontainer th,#epgcontainer th a,
#epgcontainer td,
#epgcontainer td ul,#epgcontainer td li{
	height:42px;
}


#epgcontainer th{
	width:150px;
	text-align: center;
    display: inline-block;
    color: #e2e2e2;
    font-size: 11pt;
    text-decoration: none;
    overflow:hidden;
    padding:0;
    position:relative;
    float:left;
    background:  -moz-linear-gradient(top, #656565, #4b4b4b);
    background:  -webkit-gradient(linear, left top, left bottom, from(#656565), to(#4b4b4b));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#656565',  endColorstr='#4b4b4b');
}
#epgcontainer th a{
	width:150px;
	display:inline-block;
	color: #e2e2e2;
	font-size: 11pt;
	text-decoration: none;
	font-weight:normal;
	background-repeat:no-repeat;
	background-position:center center;
}

.hatbgimg{color:transparent !important;}

#epgcontainer td{
	white-space: nowrap;
	padding:0;
}
#epgcontainer td ul{
	white-space: nowrap;
	margin:0;
	padding:0;
}
#epgcontainer td li{
	background-color:#ddd;
	color: #e2e2e2;
	white-space: nowrap;
	/*border: 1px solid #000;*/
	border-right: 1px solid #525252;
	display: inline-block;
	font-family: sans-serif; 
	font-size: 10pt;
	padding-left: 5px;
	padding-right: 5px;
	padding-top:3px;
	background:  -moz-linear-gradient(top, #4b4b4b, #656565);
	background:  -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#656565));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b',  endColorstr='#656565');	
} 

#epgcontainer td li.hgtrans{
	background:transparent;
	border:0;
}

#epgcontainer td li.sendungSelect{
	background-color:#71ac00;
	background:  -moz-linear-gradient(top, #4b4b4b, #71ac00);
	background:  -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#71ac00));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b',  endColorstr='#71ac00');	
}


#epgcontainer td li h4{
	margin:0;
	font-weight:normal;
}

#epgcontainer td li p{
	margin:0;
	font-size: 8pt;
}

.buttreload{
	margin-left: 10px;
	color: #000;
	text-decoration: none;
	border-radius: 15px;
	padding: 4px 10px;
	background-color: #fffc;
}

.maker{
	background-color: #e2e2e2;
	color: #525252;
	padding-right: 3px;
	padding-left: 3px;
	border-radius: 4px 4px 4px 4px;
}

.ausgeblendet{
	display: none !important;
}

.butt {
    border:1px solid #444444;
	color: #e2e2e2;
	
	background-color:#fff;
	display: inline-block;
	height:25px;         
	font-family: sans-serif; 
	font-size: 10pt;
	padding-left: 10px;
	padding-right: 10px;
	padding-top:3px;
	text-decoration:none;
	background:  -moz-linear-gradient(top, #656565, #4b4b4b);
	background:  -webkit-gradient(linear, left top, left bottom, from(#656565), to(#4b4b4b));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#656565',  endColorstr='#4b4b4b');
	
	border-radius: 7px 7px 7px 7px; /* CSS3 */
	-moz-border-radius:7px 7px 7px 7px; /* Firefox */
    -webkit-border-radius: 7px 7px 7px 7px; /* Safari, Chrome */
    -khtml-border-radius: 7px 7px 7px 7px; /* Konqueror */
	
}
.buttaktiv {
  border:1px solid #55dd00;
  color: #55dd00;
	background:  -moz-linear-gradient(top, #4b4b4b, #656565);
	background:  -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#656565));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b',  endColorstr='#656565');	
}

